.FormBox {
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.FormGrid {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

.telephone {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttonGrid {
  display: flex;
  justify-content: center;
  gap: 10px;
}
